In [ ]:
  import pandas as pd
  import numpy as np
  import plotly.express as px
  import plotly.graph_objects as go
  import folium
  from folium.plugins import HeatMap
  from folium.plugins import MarkerCluster
  import requests
  import random

Lectra de bases

In [ ]:
# Base de beneficiarios
names_benef = ['ID','Anio','CVE_ENT','NOM_ENT','CVE_MUN','NOM_MUN','CVE_LOC','NOM_LOC','MONTO_APOYO_TOTAL']
base_benef = pd.read_excel('Base_benef_completa.xlsx')
base_benef= base_benef.rename({'AÑO':'Anio'}, axis=1)
base_benef = base_benef.drop(['Estado',	'Municipio',	'Localidad'], axis=1)
base_tamanio_productor = pd.read_excel('Base_tamaño_productor.xlsx', sheet_name='BASE')
base_tamanio_productor.columns = ['ID', 'Tamanio_productor']
base_grado_marginacion = pd.read_excel('IM_2020.xlsx')
base_grado_marginacion = base_grado_marginacion[['ENT', 'MUN', 'LOC', 'GM_2020']]

In [ ]:
base_benef.head()

,ID,Anio,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,MONTO_APOYO_TOTAL
0,SEG000001,2019,NaN,NaN,NaN,NaN,NaN,NaN,26076025.0
1,SEG000002,2019,NaN,NaN,NaN,NaN,NaN,NaN,26012242.0
2,SEG000003,2019,NaN,NaN,NaN,NaN,NaN,NaN,19203375.0
3,SEG000004,2019,NaN,NaN,NaN,NaN,NaN,NaN,13033571.0
4,SEG000005,2019,NaN,NaN,NaN,NaN,NaN,NaN,12276810.0

In [ ]:
base_tamanio_productor.head()

          ID Tamanio_productor
0  SEG000001            Grande
1  SEG000002            Grande
2  SEG000003            Grande
3  SEG000004            Grande
4  SEG000005            Grande

In [ ]:
base_grado_marginacion.head()

   ENT  MUN  LOC   GM_2020
0    1    1    1  Muy bajo
1    1    1   96      Bajo
2    1    1  106  Muy bajo
3    1    1  112  Muy bajo
4    1    1  120  Muy bajo

# Unión de bases

In [ ]:
df_merged = pd.merge(base_benef, base_tamanio_productor,  
                      left_on=['ID'], 
                      right_on=['ID'], how='left')

df_merged.head()

,ID,Anio,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,MONTO_APOYO_TOTAL,Tamanio_productor
0,SEG000001,2019,NaN,NaN,NaN,NaN,NaN,NaN,26076025.0,Grande
1,SEG000002,2019,NaN,NaN,NaN,NaN,NaN,NaN,26012242.0,Grande
2,SEG000003,2019,NaN,NaN,NaN,NaN,NaN,NaN,19203375.0,Grande
3,SEG000004,2019,NaN,NaN,NaN,NaN,NaN,NaN,13033571.0,Grande
4,SEG000005,2019,NaN,NaN,NaN,NaN,NaN,NaN,12276810.0,Grande

In [ ]:
df_merged = pd.merge(df_merged, base_grado_marginacion,
                     left_on=['CVE_ENT',	'CVE_MUN', 'CVE_LOC'], 
                     right_on=['ENT', 'MUN', 'LOC'], how='left')

df_merged = df_merged.drop(['ENT', 'MUN', 'LOC'], axis=1)
df_merged.head()

,ID,Anio,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,MONTO_APOYO_TOTAL,Tamanio_productor,GM_2020
0,SEG000001,2019,NaN,NaN,NaN,NaN,NaN,NaN,26076025.0,Grande,NaN
1,SEG000002,2019,NaN,NaN,NaN,NaN,NaN,NaN,26012242.0,Grande,NaN
2,SEG000003,2019,NaN,NaN,NaN,NaN,NaN,NaN,19203375.0,Grande,NaN
3,SEG000004,2019,NaN,NaN,NaN,NaN,NaN,NaN,13033571.0,Grande,NaN
4,SEG000005,2019,NaN,NaN,NaN,NaN,NaN,NaN,12276810.0,Grande,NaN

**Pegamos el producto**

In [ ]:
base_benef_producto = pd.read_excel('CONSOLIDADO.xlsx', sheet_name='BASE')
base_benef_producto.head()

          ID CULTIVO  Producto Elegibilidad  Vacas_estimadas
0  SEG000001    LECHE    Leche           No       580.822475
1  SEG000002    LECHE    Leche           No       579.401760
2  SEG000003    LECHE    Leche           No       427.739726
3  SEG000004    LECHE    Leche           No       290.312306
4  SEG000005    LECHE    Leche           No       273.456064

In [ ]:
df_merged = pd.merge(df_merged, base_benef_producto,
                     left_on=['ID'], 
                     right_on=['ID'], how='left')
df_merged.head()

,ID,Anio,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,MONTO_APOYO_TOTAL,Tamanio_productor,GM_2020,CULTIVO,Producto,Elegibilidad,Vacas_estimadas
0,SEG000001,2019,NaN,NaN,NaN,NaN,NaN,NaN,26076025.0,Grande,NaN,LECHE,Leche,No,580.822475
1,SEG000002,2019,NaN,NaN,NaN,NaN,NaN,NaN,26012242.0,Grande,NaN,LECHE,Leche,No,579.401760
2,SEG000003,2019,NaN,NaN,NaN,NaN,NaN,NaN,19203375.0,Grande,NaN,LECHE,Leche,No,427.739726
3,SEG000004,2019,NaN,NaN,NaN,NaN,NaN,NaN,13033571.0,Grande,NaN,LECHE,Leche,No,290.312306
4,SEG000005,2019,NaN,NaN,NaN,NaN,NaN,NaN,12276810.0,Grande,NaN,LECHE,Leche,No,273.456064

In [ ]:
df_merged.to_csv('base_beneficiarios_dashboard.csv', index=False, encoding="utf-8-sig")

In [ ]:
#base_merged = base_benef.groupby(['Anio','CVE_ENT','NOM_ENT','CVE_MUN','NOM_MUN','CVE_LOC','NOM_LOC']).agg({'MONTO_APOYO_TOTAL':np.sum}).reset_index()

## Lectura de base de INEGI

In [ ]:
names_inegi = ['CVE_ENT','CVE_MUN','CVE_LOC','LAT_DECIMAL','LON_DECIMAL']
base_inegi =  pd.read_csv('AGEEML_2023311323291.csv', encoding='utf-8')
base_inegi = base_inegi[names_inegi]
base_inegi.head()

   CVE_ENT  CVE_MUN  CVE_LOC  LAT_DECIMAL  LON_DECIMAL
0        1        1        1        21.88      -102.30
1        1        1       94        21.87      -102.37
2        1        1       96        21.88      -102.36
3        1        1      100        21.85      -102.37
4        1        1      102        21.78      -102.36

In [ ]:
# unión
df_merged = pd.merge(df_merged, base_inegi,
                          left_on=['CVE_ENT','CVE_MUN','CVE_LOC',], 
                          right_on=['CVE_ENT','CVE_MUN','CVE_LOC'], how='left')
df_merged.head()

,ID,Anio,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,MONTO_APOYO_TOTAL,Tamanio_productor,GM_2020,CULTIVO,Producto,Elegibilidad,Vacas_estimadas,LAT_DECIMAL,LON_DECIMAL
0,SEG000001,2019,NaN,NaN,NaN,NaN,NaN,NaN,26076025.0,Grande,NaN,LECHE,Leche,No,580.822475,NaN,NaN
1,SEG000002,2019,NaN,NaN,NaN,NaN,NaN,NaN,26012242.0,Grande,NaN,LECHE,Leche,No,579.401760,NaN,NaN
2,SEG000003,2019,NaN,NaN,NaN,NaN,NaN,NaN,19203375.0,Grande,NaN,LECHE,Leche,No,427.739726,NaN,NaN
3,SEG000004,2019,NaN,NaN,NaN,NaN,NaN,NaN,13033571.0,Grande,NaN,LECHE,Leche,No,290.312306,NaN,NaN
4,SEG000005,2019,NaN,NaN,NaN,NaN,NaN,NaN,12276810.0,Grande,NaN,LECHE,Leche,No,273.456064,NaN,NaN

In [ ]:
df_merged.to_csv('base_beneficiarios_dashboard.csv', index=False, encoding="utf-8-sig")